body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa;
}

.login-container {
    width: 350px;
    background: #fff;
    padding: 20px;
    border: 1px solid #dbdbdb;
    text-align: center;
}

.logo {
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background: #fafafa;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #0095f6;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.facebook-login {
    background: none;
    color: #385185;
    font-weight: bold;
}

.separator {
    margin: 10px 0;
    color: #8e8e8e;
    font-weight: bold;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #00376b;
}

.signup-box {
    margin-top: 20px;
    padding: 20px;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    background: #fff;
}


.signup-box a {
    color: #0095f6;
    text-decoration: none;
}
